@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logo-slide-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.logo-track {
  animation: logo-slide-right 25s linear infinite;
}
